/* css */

h1 {
    color: #fff;
    text-align: center;
    font-size: 4.2em;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 16.4px;

    
    }
h2 {
    color: blue;
    text-align: center;
    font-size: 3.2em;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 900; 
    line-height: 16.4px;

    
    }


body {
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

.name {
    color: #fff;
    text-align: center;
    font-size: 3.0em;
    text-align: center;

    border: 15px solid #fff;
    width: 650px;
    margin: 20px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul { 
    font-size: 140%;
    list-style-image: linear-gradient(to left bottom, #33ccff, blue);
}

ol {
    font-size: 100%;
    font-weight: 600;
}

.metaphor {
    color: yellow;
    text-align: center;
    font-size: larger;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:min-content;
    height: 290px;
}